@media screen and (max-width: 1920px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 65vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.6rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.6rem;
  }
  .section-2 {
    padding: 10rem 0;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0 7rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 50rem;
    padding: 0;
    /* padding-right: 12rem; */
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.6rem;
    max-width: 45rem;
  }

  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 14rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.6rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 26rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-6-list p {
    font-size: 1.6rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.6rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 0rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 4rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.6rem;
    max-width: 70rem;
  }
  .section-8 {
    padding: 12rem 0;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 130rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1440px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 70vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .section-2 {
    padding: 8rem 0;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 0;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 50rem;
    padding: 0;
    padding-right: 12rem;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.4rem;
    max-width: 35rem;
  }

  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 14rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 22rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-6-list p {
    font-size: 1.4rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 0rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 4rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .section-8 {
    padding: 8rem 0;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 110rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1344px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 65vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 50rem;
    padding: 0;
    padding-right: 6rem;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 17rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-6-list p {
    font-size: 1.4rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 2rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 4rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 110rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 65vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 45rem;
    padding: 0;
    padding-right: 9rem;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 14rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-6-list p {
    font-size: 1.4rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 7rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 4rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 110rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 60vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 2rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 40rem;
    padding: 0;
    padding-right: 3rem;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 10rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-6-list p {
    font-size: 1.4rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 5rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 4rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 110rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .container-image {
    height: 60vh;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.6rem;
    padding: 1.6rem 5.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 70rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 35rem;
    padding: 0;
    padding-right: 3rem;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.3rem;
    max-width: 35rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .img-box-1 {
    padding: 0 4rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0 3rem 0 3rem;
  }
  .section-6-list p {
    font-size: 1.3rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 5rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    padding: 0;
    text-align: center;
  }
  .list-box {
    padding: 0;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 3.8rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 70rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 70rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 90rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 7rem 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 110px;
    height: 110px;
  }
  .container-image {
    height: 50vh;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 60rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 32rem;
    padding: 0;
  }
  .content-heading {
    font-size: 2rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.3rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 60rem;
  }
  .img-box-1 {
    padding: 0 5rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0 3rem 0 3rem;
  }
  .section-6-list p {
    font-size: 1.3rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 4rem;
    column-gap: 2rem;
    row-gap: 6rem;
    margin-top: 2rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    text-align: center;
  }
  .list-box {
    padding: 0;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 3.2rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 60rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 60rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 0.5fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 80rem;
    column-gap: 2rem;
  }
  .footer {
    padding: 5rem 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .container-image {
    height: 40vh;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 55rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 55rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .content {
    margin: 0 auto;
    gap: 4rem;
    max-width: 32rem;
    padding: 0;
  }
  .content-heading {
    font-size: 1.8rem;
  }
  .content-box {
    padding-right: 2rem;
  }
  .content p {
    font-size: 1.3rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 55rem;
  }
  .section-4 {
    padding-top: 10rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 55rem;
  }
  .img-box-1 {
    padding: 0 4rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 55rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0 1rem 0 1rem;
  }
  .section-6-list p {
    font-size: 1.3rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6-box p {
    font-size: 1.4rem;
  }
  .section-6 p {
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 4rem;
    column-gap: 2rem;
    row-gap: 6rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    text-align: center;
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 35rem;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .logo-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
  }
  .logos img {
    height: 2.8rem;
  }
  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 55rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 55rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 75rem;
    column-gap: 2rem;
  }
  /* .footer-nav li {
    padding-bottom: 2.5rem;
  } */
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footer-link img {
    width: 22px;
    height: 22px;
  }
  .social-links {
    justify-content: center;
    gap: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .container-image {
    height: 40vh;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 3.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 50rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 50rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content {
    margin: 0 auto;
    gap: 5rem;
    max-width: 50rem;
    padding: 8rem 0;
  }
  .content-box {
    text-align: center;
  }
  .content p {
    font-size: 1.4rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 50rem;
  }
  .section-4 {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 50rem;
  }
  .img-box-1 {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 50rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0 1rem 0 1rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6 p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 0 3rem;
    column-gap: 2rem;
    row-gap: 6rem;
  }
  .list-box-1 img {
    margin-bottom: 2rem;
  }
  .list-box-1 {
    text-align: center;
    grid-column: 1 / -1;
    justify-self: center;
    max-width: 35rem;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .logos img {
    height: 3.8rem;
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 50rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 50rem;
  }
  .footer-nav li {
    padding-bottom: 2.5rem;
  }
  .footer-nav {
    gap: 0;
    align-items: center;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .container-image {
    height: 40vh;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
    max-width: 35rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 7.8rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 7.8rem;
  }

  .button-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 40rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 40rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content {
    margin: 0 auto;
    gap: 5rem;
    max-width: 40rem;
    padding: 4rem 3rem;
  }
  .content-box {
    text-align: center;
  }
  .content p {
    font-size: 1.4rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 40rem;
  }
  .section-4 {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 40rem;
  }
  .img-box-1 {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 40rem;
  }
  .list-box {
    text-align: center;
    justify-self: center;
    padding: 0 1rem 0 1rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6 p {
    font-size: 1.4rem;
    /* max-width: 35rem; */
    margin-bottom: 2rem;
    padding: 0 3rem;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 3rem;
    gap: 5rem;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .logos img {
    height: 3.8rem;
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 40rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 40rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 35rem;
  }
  .footer-nav li {
    padding-bottom: 2.5rem;
  }
  .footer-nav {
    gap: 0;
    align-items: center;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 375px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .container-image {
    height: 40vh;
  }
  .heading-main {
    font-size: 2.8rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.4rem;
    max-width: 35rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 6.4rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 6.4rem;
  }

  .button-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 35rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .img-box {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content {
    margin: 0 auto;
    gap: 5rem;
    max-width: 35rem;
    padding: 4rem 3rem;
  }
  .content-box {
    text-align: center;
  }
  .content p {
    font-size: 1.4rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .section-4 {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }
  .section-4 p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .img-box-1 {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .list-box {
    padding: 0 1rem 0 1rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6 p {
    font-size: 1.4rem;
    max-width: 35rem;
    margin-bottom: 2rem;
    padding: 0;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 3rem;
    gap: 5rem;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .logos img {
    height: 3.8rem;
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .section-8 p {
    font-size: 1.4rem;
    max-width: 35rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 35rem;
  }
  .footer-nav li {
    padding-bottom: 2.5rem;
  }
  .footer-nav {
    gap: 0;
    align-items: center;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 320px) {
  .header-section {
    padding-bottom: 7.6rem;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .container-image {
    height: 40vh;
  }
  .heading-main {
    font-size: 2.4rem;
    line-height: 1.2;
    color: #4c545d;
  }
  .heading-text {
    font-size: 1.2rem;
    max-width: 35rem;
  }

  .btn,
  .btn--one:link,
  .btn--one:visited {
    font-size: 1.5rem;
    padding: 1.5rem 6.4rem;
  }

  .btn-s,
  .btn--one-s:link,
  .btn--one-s:visited {
    font-size: 1.5rem;
    padding: 1.5rem 6.4rem;
  }

  .button-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container {
    padding: 0 3rem;
    max-width: 35rem;
  }
  .container-1 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .heading-primary {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .section-2 p {
    font-size: 1.2rem;
    max-width: 35rem;
  }
  .section-2 {
    padding: 4rem 0;
  }
  .img-box {
    padding: 0 2rem;
    margin: 0 auto;
  }
  .section-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .content {
    margin: 0 auto;
    gap: 5rem;
    max-width: 35rem;
    padding: 4rem 2rem;
  }
  .content-box {
    padding: 0 2rem;
    text-align: center;
  }
  .content p {
    font-size: 1.2rem;
  }
  .container-2 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .section-4 {
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .section-4 p {
    font-size: 1.2rem;
    max-width: 35rem;
  }
  .img-box-1 {
    padding: 0 3rem;
    margin: 0 auto;
  }
  .container-3 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .list-box {
    padding: 0 1rem 0 1rem;
  }
  .section-6-box {
    margin-bottom: 4rem;
  }
  .section-6 p {
    font-size: 1.2rem;
    max-width: 35rem;
    margin-bottom: 2rem;
    padding: 0;
  }
  .section-6-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 0 3rem;
    gap: 5rem;
  }
  .container-logos {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .logo-col img {
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }
  .logos img {
    height: 3.6rem;
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .container-4 {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 35rem;
  }
  .section-8 p {
    font-size: 1.2rem;
    max-width: 35rem;
  }
  .container-footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
    margin: 0 auto;
    max-width: 35rem;
  }
  .footer-nav li {
    padding-bottom: 2.5rem;
  }
  .footer-nav {
    gap: 0;
    align-items: center;
  }
  .footer-link img {
    width: 24px;
    height: 24px;
  }
  .social-links {
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
  }
}
