* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}

/*********** HEADER SECTION  ***************/
.header-section {
  padding-bottom: 9.6rem;
}
.container-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-header-desktop.png);
  object-fit: cover;
  background-size: cover;
  height: 40vh;
}
.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.logo {
  position: relative;
  z-index: 1;
  opacity: 1;
  width: 100px;
  height: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 63rem;
}
.heading-main {
  font-size: 3rem;
  font-weight: 600;
  color: #4c545d;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.heading-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
  text-align: center;
  margin-bottom: 3rem;
}
.button-box {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.btn,
.btn--one:link,
.btn--one:visited {
  cursor: pointer;
  border: none;
  padding: 1.6rem 4.8rem;
  border-radius: 30px;
  color: #fff;
  background-color: #26baa4;
  border-bottom: 3px solid #219d85;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  box-shadow: 0 8px 16px hsla(171, 66%, 44%, 0.36);
}

.btn--one:hover,
.btn--one:active {
  background-color: #26baa4c2;
}
.btn-s,
.btn--one-s:link,
.btn--one-s:visited {
  cursor: pointer;
  border: none;
  padding: 1.6rem 4.8rem;
  border-radius: 30px;
  color: #fff;
  background-color: #6173ff;
  border-bottom: 3px solid #5362d9;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  box-shadow: 0 8px 16px hsla(233, 100%, 69%, 0.36);
}

.btn--one-s:hover,
.btn--one-s:active {
  background-color: #6173ffb4;
}

/*********** SECTION 2 ***************/
.section-2 {
  padding: 8rem 0rem;
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 65rem;
}
.heading-primary {
  font-size: 2.4rem;
  font-weight: 600;
  color: #4c545d;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.section-2 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
}
/*********** SECTION 3 ***************/
.section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.img-box img {
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem;
}
.content-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #4c545d;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.content p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
  max-width: 36rem;
}
/*********** SECTION 4 ***************/
.section-4 {
  padding: 8rem 0;
}
.section-4 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
}
.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 65rem;
}
/*********** SECTION 5 ***************/

.img-box-1 img {
  max-width: 100%;
}
/*********** SECTION 6 ***************/
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 65rem;
}
.section-6 {
  padding: 8rem 0;
}
.section-6 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
  margin-bottom: 4rem;
}
.section-6-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 120rem;
  gap: 4rem;
  margin: 0 auto;
  align-items: baseline;
}
.list-box {
  text-align: center;
  padding: 4rem 0;
}
.list-box img {
  margin-bottom: 2rem;
}
.list-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #4c545d;
  line-height: 1.5;
  margin-bottom: 1rem;
}
/*********** SECTION LOGOS ***************/
.section-logos {
  padding: 4.8rem 0;
}
.container-logos {
  max-width: 120rem;
  padding: 0 4rem;
  margin: 0 auto;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 4rem;
}

/*********** SECTION 8 ***************/
.section-8 {
  padding: 8rem 0;
}
.section-8 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #9fabb2;
  margin-bottom: 3rem;
}
.container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 64rem;
}

/*********** FOOTER ***************/
.footer {
  padding: 4rem 0;
  background-color: #f5f6f8;
}
.container-footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr 0.5fr;

  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.logo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-col img {
  width: 70px;
  height: 70px;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #4c545d;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.footer-link:hover,
.footer-link:active {
  color: #26baa4;
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
